@if (isOpen()) {
  <div (click)="close.emit()" class="drawer-backdrop"></div>
  <div class="modal-wrap">
    <div (click)="$event.stopPropagation()" class="modal">
      <div class="dw-header">
        <span class="dw-title">{{ title() }}</span>
        <button (click)="close.emit()" class="dw-close" type="button">✕</button>
      </div>
      <div class="modal-body">
        <ng-content/>
      </div>
      <div class="modal-footer">
        <ng-content select="[modal-footer]"/>
      </div>
    </div>
  </div>
}
